<nav class="bottom-nav">
    <button class="active">
        <i data-lucide="home"></i>
        <span>Home</span>
      </button>
      <button>
        <i data-lucide="search"></i>
        <span>Shop</span>
      </button>
      <button>
        <div class="center-icon">
          <i data-lucide="plus-circle" style="color: white;"></i>
        </div>
        <span style="margin-top: 4px;">Feed</span>
      </button>
      <button>
        <i data-lucide="grid"></i>
        <span>Categories</span>
      </button>
      <button>
        <i data-lucide="heart"></i>
        <span>Wishlist</span>
      </button>
    </nav>
    
